#img-jimsoo{
    max-width: 22%;
    border-radius: 100%;
}
#img-jennie{
    max-width: 15%;
    max-height: 15%;
    border-radius: 100%;
}
#img-rose{
    max-width: 15%;
    border-radius: 100%;
}
#img-lisa{
    max-width: 20%;
    max-height: 20%;
    border-radius: 100%;
}